## Load Data from CSVs

In [57]:
import unicodecsv

## Longer version of code (replaced with shorter, equivalent version below)

# enrollments = []
# f = open('enrollments.csv', 'rb')
# reader = unicodecsv.DictReader(f)
# for row in reader:
#     enrollments.append(row)
# f.close()

with open('data/enrollments.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader)

In [58]:
%whos

Variable                         Type              Data/Info
------------------------------------------------------------
account_key                      str               1305
count                            int               3
daily_eng                        DictReader        <unicodecsv.py3.DictReade<...>object at 0x7faed9e1de50>
daily_engagement                 list              n=136240
dt                               type              <class 'datetime.datetime'>
e                                BufferedReader    <_io.BufferedReader name=<...>ta/daily_engagement.csv'>
engagement_filename              str               data/daily_engagement.csv
engagement_num_rows              int               136240
engagement_num_unique_students   int               1237
engagement_record                dict              n=6
engagement_record_date           datetime          2015-06-18 00:00:00
enrollment                       dict              n=7
enrollment_date                  datetime          2015-08-23 00:00:00
enrollment_num_rows              int               1640
enrollment_num_unique_students   int               1302
enrollments                      list              n=1640
f                                BufferedReader    <_io.BufferedReader name='data/enrollments.csv'>
i                                int               136239
join_date                        datetime          2015-05-12 00:00:00
len_engagement                   int               136240
non_udacity_engagement           list              n=135656
non_udacity_enrollments          list              n=1622
non_udacity_submissions          list              n=3634
paid_engagement                  list              n=134549
paid_engagement_in_first_week    list              n=17210
paid_enrollments                 list              n=1293
paid_students                    dict              n=995
paid_submissions                 list              n=3618
parse_date                       function          <function parse_date at 0x7faed9e27c10>
parse_maybe_int                  function          <function parse_maybe_int at 0x7faed9e27e50>
project_submissions              list              n=3642
reader                           DictReader        <unicodecsv.py3.DictReade<...>object at 0x7faed9dd75e0>
remove_free_trials_cancels       function          <function remove_free_tri<...>ancels at 0x7faed9e1aca0>
remove_udacity_accounts          function          <function remove_udacity_<...>counts at 0x7faed9e1a4c0>
s                                BufferedReader    <_io.BufferedReader name=<...>project_submissions.csv'>
student                          str               686
submission                       dict              n=6
submission_num_rows              int               3642
submission_num_unique_students   int               743
submissions_filename             str               data/project_submissions.csv
udacity_test_accounts            set               {'1101', '448', '312', '1304', '818', '1069'}
unicodecsv                       module            <module 'unicodecsv' from<...>/unicodecsv/__init__.py'>
unique_engagement                set               {'1028', '478', '738', '3<...>4', '854', '1164', '231'}
unique_enrollment                set               {'1028', '738', '478', '1<...>4', '472', '1164', '231'}
unique_rows                      function          <function unique_rows at 0x7faef239e820>
within_one_week                  function          <function within_one_week at 0x7faef7dda040>

In [59]:
## Read in the data from daily_engagement.csv and project_submissions.csv 
## and store the results in the below variables.
## Then look at the first row of each table.

engagement_filename = 'data/daily_engagement.csv'
submissions_filename = 'data/project_submissions.csv'

with open(engagement_filename, 'rb') as e:
    daily_eng = unicodecsv.DictReader(e)
    daily_engagement = list(daily_eng)     # Replace this with your code
    
with open(submissions_filename, 'rb') as s:
    submission = unicodecsv.DictReader(s)
    project_submissions = list(submission)  # Replace this with your code
    
print(daily_engagement[0])
print('')
print(project_submissions[0])
print('')
print(enrollments[0])

{'acct': '0', 'utc_date': '2015-01-09', 'num_courses_visited': '1.0', 'total_minutes_visited': '11.6793745', 'lessons_completed': '0.0', 'projects_completed': '0.0'}

{'creation_date': '2015-01-14', 'completion_date': '2015-01-16', 'assigned_rating': 'UNGRADED', 'account_key': '256', 'lesson_key': '3176718735', 'processing_state': 'EVALUATED'}

{'account_key': '448', 'status': 'canceled', 'join_date': '2014-11-10', 'cancel_date': '2015-01-14', 'days_to_cancel': '65', 'is_udacity': 'True', 'is_canceled': 'True'}

## Fixing Data Types

In [60]:
from datetime import datetime as dt

# Takes a date as a string, and returns a Python datetime object. 
# If there is no date given, returns None
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
# Takes a string which is either an empty string or represents an integer,
# and returns an int or None.
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the enrollments table
for enrollment in enrollments:
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_maybe_int(enrollment['days_to_cancel'])
    enrollment['is_canceled'] = enrollment['is_canceled'] == 'True'
    enrollment['is_udacity'] = enrollment['is_udacity'] == 'True'
    enrollment['join_date'] = parse_date(enrollment['join_date'])

In [61]:
# sample
enrollments[4]

{'account_key': '448',
 'status': 'current',
 'join_date': datetime.datetime(2015, 3, 10, 0, 0),
 'cancel_date': None,
 'days_to_cancel': None,
 'is_udacity': True,
 'is_canceled': False}

In [62]:
# Clean up the data types in the engagement table
for engagement_record in daily_engagement:
    engagement_record['lessons_completed'] = int(float(engagement_record['lessons_completed']))
    engagement_record['num_courses_visited'] = int(float(engagement_record['num_courses_visited']))
    engagement_record['projects_completed'] = int(float(engagement_record['projects_completed']))
    engagement_record['total_minutes_visited'] = float(engagement_record['total_minutes_visited'])
    engagement_record['utc_date'] = parse_date(engagement_record['utc_date'])
    
daily_engagement[0]

{'acct': '0',
 'utc_date': datetime.datetime(2015, 1, 9, 0, 0),
 'num_courses_visited': 1,
 'total_minutes_visited': 11.6793745,
 'lessons_completed': 0,
 'projects_completed': 0}

In [63]:
# Clean up the data types in the submissions table
for submission in project_submissions:
    submission['completion_date'] = parse_date(submission['completion_date'])
    submission['creation_date'] = parse_date(submission['creation_date'])

project_submissions[0]

{'creation_date': datetime.datetime(2015, 1, 14, 0, 0),
 'completion_date': datetime.datetime(2015, 1, 16, 0, 0),
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

## Investigating the Data

In [64]:

## Find the total number of rows and the number of unique students (account keys)
print(f'Enrollments: ', len(enrollments))
print(f'Daily Engagements: ', len(daily_engagement))
print(f'Project Submissions: ', len(project_submissions))
## in each table.

Enrollments:  1640
Daily Engagements:  136240
Project Submissions:  3642

In [65]:
def unique_rows(file, feature):
    len_file = len(file)
    f = []
    for i in range(len_file):
        f.append(file[i][feature])

    unique = set(f)
    return len(unique)

In [66]:
# Get the unique Account keys for enrollment, daily engagement and submissions
enrollment_num_rows = len(enrollments)           # Replace this with your code
enrollment_num_unique_students =  unique_rows(enrollments, 'account_key') # Replace this with your code

engagement_num_rows = len(daily_engagement)            # Replace this with your code
engagement_num_unique_students = unique_rows(daily_engagement, 'acct') # Replace this with your code

submission_num_rows = len(project_submissions)           # Replace this with your code
submission_num_unique_students = unique_rows(project_submissions, 'account_key')  # Replace this with your code

print(enrollment_num_rows)
print(enrollment_num_unique_students)

print(engagement_num_rows)
print(engagement_num_unique_students)

print(submission_num_rows)
print(submission_num_unique_students)

1640
1302
136240
1237
3642
743

## Problems in the Data

In [67]:
# Rename 'acct' key to 'account_key' like other tables
len_engagement = len(daily_engagement)
for i in range(len_engagement):
    daily_engagement[i]['account_key'] = daily_engagement[i]['acct']
    daily_engagement[i].pop('acct')

In [68]:
daily_engagement[89]

{'utc_date': datetime.datetime(2015, 4, 8, 0, 0),
 'num_courses_visited': 2,
 'total_minutes_visited': 115.690604167,
 'lessons_completed': 2,
 'projects_completed': 0,
 'account_key': '0'}

In [69]:
# Find unique feature e.g. daily engagement or enrollment
def unique_rows(file, feature):
    len_file = len(file)
    f = []
    for i in range(len_file):
        f.append(file[i][feature])

    unique = set(f)
    return unique

unique_engagement = unique_rows(daily_engagement, 'account_key')
unique_enrollment = unique_rows(enrollments, 'account_key')

In [70]:
# Why do we have more student engaged than enrolled students?
for enrollment in enrollments:
    student = enrollment['account_key']
    if student not in unique_engagement:
        print(enrollment)
        break

{'account_key': '1219', 'status': 'canceled', 'join_date': datetime.datetime(2014, 11, 12, 0, 0), 'cancel_date': datetime.datetime(2014, 11, 12, 0, 0), 'days_to_cancel': 0, 'is_udacity': False, 'is_canceled': True}

## Missing Engagement Records

In [71]:
# Students missing from engagement table but stayed enrolled for more than a day
count = 0
for enrollment in enrollments:
    student = enrollment['account_key']
    
    if (student not in unique_engagement) and (enrollment['join_date'] != enrollment['cancel_date']):
        count += 1

print(count)

## Find any one student enrollments where the student is missing from the daily engagement table.
## Output that enrollment.

3

## Checking for More Problem Records

In [72]:
#####################################

## Tracking Down the Remaining Problems

In [73]:
# Create a set of the account keys for all Udacity test accounts
udacity_test_accounts = set()
for enrollment in enrollments:
    if enrollment['is_udacity']:
        udacity_test_accounts.add(enrollment['account_key'])
len(udacity_test_accounts)

6

Mean: 2.912562814070352
Standard deviation: 2.22037005490701
Minimum: 0
Maximum: 7

In [74]:
# Given some data with an account_key field, removes any records corresponding to Udacity test accounts
def remove_udacity_accounts(data):
    non_udacity_data = []
    for data_point in data:
        if data_point['account_key'] not in udacity_test_accounts:
            non_udacity_data.append(data_point)
    return non_udacity_data

In [75]:
# Remove Udacity test accounts from all three tables
non_udacity_enrollments = remove_udacity_accounts(enrollments)
non_udacity_engagement = remove_udacity_accounts(daily_engagement)
non_udacity_submissions = remove_udacity_accounts(project_submissions)

print(len(non_udacity_enrollments))
print(len(non_udacity_engagement))
print(len(non_udacity_submissions))

1622
135656
3634

In [76]:
non_udacity_enrollments[3]['days_to_cancel']

65

## Refining the Question

In [77]:
#####################################
## Create a dictionary named paid_students containing all students who either
## haven't canceled yet or who remained enrolled for more than 7 days. The keys
## should be account keys, and the values should be the date the student enrolled.
paid_students = {}

for enrollment in non_udacity_enrollments:
    # all students who either haven't canceled or remained enrolled for more than 7 days
    if not enrollment['is_canceled'] or enrollment['days_to_cancel'] > 7:
        account_key = enrollment['account_key']
        enrollment_date = enrollment['join_date']
        paid_students[account_key] = enrollment_date
        
        # Update to recent enrollment date
        if account_key not in paid_students or enrollment_date > paid_students[account_key]:
            paid_students[account_key] = enrollment_date

len(paid_students)

995

## Getting Data from First Week

In [121]:
# Takes a student's join date and the date of a specific engagement record,
# and returns True if that engagement record happened within one week
# of the student joining.
def within_one_week(join_date, engagement_date):
    time_delta = engagement_date - join_date
    return time_delta.days < 7 and time_delta.days >= 0

In [122]:
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 'days_to_cancel': 65,
 'is_udacity': True,
 'is_canceled': True}

In [123]:
daily_engagement[0]

{'utc_date': datetime.datetime(2015, 1, 9, 0, 0),
 'num_courses_visited': 1,
 'total_minutes_visited': 11.6793745,
 'lessons_completed': 0,
 'projects_completed': 0,
 'account_key': '0'}

In [124]:
# Remove free trials and canceled

def remove_free_trials_cancels(data):
    new_data = []
    for data_point in data:
        if data_point['account_key'] in paid_students:
            new_data.append(data_point)
    return new_data

In [140]:
# Remove free trials from enrollments, submissions and engagements
paid_enrollments = remove_free_trials_cancels(non_udacity_enrollments)
paid_engagement = remove_free_trials_cancels(non_udacity_engagement)
paid_submissions = remove_free_trials_cancels(non_udacity_submissions)

print(paid_enrollments)
print(paid_engagement)
print(paid_submissions)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [141]:
######################################
## Find the mean, standard deviation, minimum, and maximum for the number of
## days each student visits the classroom during the first week.

for engagement_record in paid_engagement:
    if engagement_record['num_courses_visited'] > 0:
        engagement_record['has_visited'] = 1
    else:
        engagement_record['has_visited'] = 0

Mean: 2.912562814070352
Standard deviation: 2.22037005490701
Minimum: 0
Maximum: 7

In [142]:
## Create a list of rows from the engagement table including only rows where
## the student is one of the paid students you just found, and the date is within
## one week of the student's join date.

paid_engagement_in_first_week = []

for engagement_record in paid_engagement:
    account_key = engagement_record['account_key']
    join_date = paid_students[account_key]
    engagement_record_date = engagement_record['utc_date']

    if within_one_week(join_date, engagement_record_date):
         paid_engagement_in_first_week.append(engagement_record)

len(paid_engagement_in_first_week)

6920

## Exploring Student Engagement

In [143]:
from collections import defaultdict

# Create a dictionary of engagement grouped by student.
# The keys are account keys, and the values are lists of engagement records.
engagement_by_account = defaultdict(list)
for engagement_record in paid_engagement_in_first_week:
    account_key = engagement_record['account_key']
    engagement_by_account[account_key].append(engagement_record)

In [144]:
# Create a dictionary with the total minutes each student spent in the classroom during the first week.
# The keys are account keys, and the values are numbers (total minutes)
total_minutes_by_account = {}
for account_key, engagement_for_student in engagement_by_account.items():
    total_minutes = 0
    for engagement_record in engagement_for_student:
        total_minutes += engagement_record['total_minutes_visited']
    total_minutes_by_account[account_key] = total_minutes

In [145]:
total_minutes_by_account.values

In [146]:
list(total_minutes_by_account.values())

[494.88049616599994,
 18.576384666670002,
 0.0,
 0.0,
 33.3214046667,
 329.7578566663,
 780.4545511666701,
 104.20388850009999,
 989.113641833,
 448.471384167,
 130.12347833367,
 0.0,
 179.4719088333,
 1013.3833969996999,
 65.6221875,
 983.375040335,
 119.12030049999998,
 235.49969150033,
 155.1361575,
 0.0,
 447.93897783336996,
 931.1036911666699,
 657.2052335000001,
 1591.3228143334,
 943.188117167,
 0.0,
 430.801675833,
 1579.12122666663,
 766.256315667,
 556.1906033333,
 69.6578351667,
 247.2755796664,
 123.2915048333,
 253.9870258334,
 180.413814,
 765.6402170004,
 809.2138958339,
 1378.195091668,
 0.0,
 1001.5888595,
 478.21952616690004,
 511.925391,
 174.3070429999,
 88.822038,
 0.0,
 0.0,
 26.1189351667,
 854.8288881656,
 1055.6871896667,
 0.0,
 491.9087078335,
 0.0,
 3.22752383333,
 401.97479050029995,
 427.764673834,
 589.6171318323301,
 106.72208133333001,
 91.3514995,
 1024.109326834,
 47.1679638333,
 0.0,
 496.99219366667,
 293.383122167,
 465.58233333400005,
 346.5030268336,
 422.27366000010005,
 6.95969283333,
 856.8375048337,
 0.0,
 248.8734464997,
 310.04241416702996,
 53.5545175,
 704.5521115003299,
 0.0,
 228.935866667,
 20.8106506667,
 17.658779,
 231.80801666640002,
 0.0,
 416.49598383333,
 106.2245978334,
 227.6363853331,
 537.5285965007,
 293.4918854997,
 752.4780518326,
 500.4921706667001,
 0.0,
 1035.306503999,
 106.16380783330001,
 63.79716583327,
 114.43403466663,
 84.9883638333,
 611.3200641666999,
 751.2236896667,
 0.0,
 45.3963998333,
 8.46994183333,
 525.6444536663,
 52.239785,
 145.70615016660003,
 148.7306783333,
 277.0299235,
 1075.0625133337,
 839.123771167,
 312.1800340007,
 211.82116566633,
 171.2928940001,
 164.27089083347,
 1167.52455983297,
 1214.55291799937,
 169.159592167,
 388.23059683327006,
 83.7769855,
 186.94018933324,
 167.606683,
 886.0703749999001,
 129.2449371666,
 891.8733579995999,
 391.55201350027,
 266.1378745,
 285.36239183329997,
 530.1415103337,
 0.0,
 51.0695815,
 1410.5316330013002,
 33.4956098333,
 334.5606256663,
 743.1407118340001,
 101.387314333,
 0.0,
 0.0,
 1196.803629999,
 80.2133103333,
 1017.1034851664001,
 613.2567715002999,
 34.1685658333,
 696.2475044997,
 90.3995656667,
 86.4587005,
 174.0351705003,
 544.992658666,
 505.63867666629994,
 405.0228675003,
 384.69492683359994,
 893.4411686660001,
 11.554518,
 416.4968900006,
 0.0,
 56.835209,
 414.14088366667,
 908.4660900005999,
 745.1146233329999,
 179.0073273333,
 736.9791355,
 0.0,
 635.5124964993,
 8.3032715,
 0.0,
 0.0,
 630.1675615003,
 531.8882431671,
 532.6464248333,
 3564.7332644989997,
 765.55279683203,
 962.5736773336,
 0.0,
 0.0,
 120.87673000033001,
 92.5594045,
 586.7042849994001,
 1887.391213833,
 589.8798286670001,
 12.9807116667,
 414.12743866659997,
 2375.7954986677,
 1051.5771371676,
 570.776941833,
 783.3383063341,
 913.6758890002999,
 195.8380553337,
 651.9806806667,
 310.2486779997,
 418.01940599970004,
 247.9964674996,
 0.0,
 601.3632028330001,
 629.3766914993301,
 6.20617616667,
 1251.6466043334,
 7.94751166667,
 137.2655706667,
 402.42499849989997,
 121.07599299993,
 315.44705699977,
 1166.4244791677,
 383.1542506668,
 931.3076661670001,
 809.546996001,
 1452.709982333,
 448.5325424996,
 0.0,
 219.2389440004,
 605.7708455,
 686.7681608344001,
 315.34049566659996,
 633.1473566663,
 114.39214366666,
 356.77551816640005,
 4.55604183333,
 421.2835453327,
 593.1472776666001,
 168.3080953333,
 836.3458141666999,
 30.3670653333,
 662.64059800003,
 58.36346116669999,
 0.0,
 2393.5421573319004,
 272.6840003337,
 346.78228750000005,
 178.70479883369998,
 241.8322233337,
 151.60938049966,
 30.647238166630004,
 247.9695998334,
 439.05929566669994,
 485.78090949999995,
 360.4108591662,
 131.7264965,
 197.41214399993,
 9.75699783333,
 1168.2526861667002,
 197.0435864997,
 931.3838908327,
 0.0,
 467.5716475007,
 704.5008775003,
 330.1826238337,
 40.220247,
 0.0,
 288.9210591667,
 554.59261383367,
 46.605140666699995,
 123.5804105,
 669.9961104997,
 277.3369746671,
 183.134135333,
 877.8003651663,
 284.6907063333,
 175.613687167,
 343.35795733340007,
 0.0,
 600.5757328336,
 221.72389316627002,
 0.0,
 39.485681500000005,
 595.2719906673,
 736.3565788330001,
 638.934161833,
 0.0,
 42.4569508333,
 34.2810203333,
 110.09569266679999,
 371.26458716729996,
 1420.1479191659998,
 211.5840809997,
 314.3331800003,
 322.475557667,
 1020.3306876671,
 830.83625116633,
 1203.2224428333002,
 70.48434450007001,
 1435.0160603327001,
 44.477798999970005,
 429.03252133340004,
 884.915487,
 0.0,
 143.048056833,
 255.53718516670003,
 0.0,
 570.5658495,
 269.194508,
 302.608719833,
 109.141489,
 195.9300631667,
 283.36202233326,
 4.58531166667,
 955.78319766497,
 442.37721166627,
 0.0,
 192.665344,
 497.8218254996,
 405.600248833,
 421.6092228329,
 199.06043566667,
 338.67828999970004,
 213.4699951663,
 0.0,
 88.12990766662999,
 669.9500983341,
 165.37368716699999,
 2700.4878774989998,
 194.7560403337,
 538.88974533303,
 0.0,
 4.19664316667,
 554.8758693333999,
 150.7999871667,
 843.170594833,
 59.239222,
 888.6124170002998,
 1341.720517667,
 657.0126268326,
 1735.943607166,
 2778.3161446706704,
 196.3044158337,
 343.6706583329,
 859.426280833,
 61.42153166673,
 0.0,
 397.24734133329997,
 1669.9007213329999,
 370.8747679997,
 1426.2515225012999,
 355.96292199997,
 667.7495933323299,
 170.64120316700001,
 187.9226685,
 501.941580166,
 124.52342500033,
 129.087694,
 0.0,
 855.4038108340001,
 278.6769970004,
 0.0,
 13.2610473333,
 0.0,
 392.473794834,
 35.531418,
 0.0,
 83.295313,
 614.9778563333,
 246.61175300029998,
 248.12435916639998,
 713.3479524992999,
 445.67912983302995,
 211.3875440003,
 107.74437683336001,
 320.97561616674,
 729.8468485,
 122.07255516670001,
 609.2861186673,
 944.5557876659999,
 64.7772518334,
 105.06483083340001,
 71.4977216667,
 2530.5614099997,
 677.2790736659999,
 1053.7764165013,
 58.3151085,
 0.0,
 0.0,
 37.6347753333,
 0.0,
 220.21062866679998,
 817.9997333323399,
 42.3843405,
 0.0,
 4.24015233333,
 197.066153,
 532.5829673333,
 30.5476253333,
 506.55911883299996,
 65.9101326667,
 803.3391453328,
 0.0,
 391.3939735,
 51.9296121667,
 0.0,
 73.6446115,
 212.1774728337,
 925.7537420007,
 446.4724451667,
 0.0,
 0.0,
 8.4371975,
 131.7464566667,
 137.9929768333,
 0.0,
 427.5369333332,
 3.3318835,
 808.5665558337,
 2.17768916667,
 0.0,
 34.50448516667,
 12.05914466667,
 177.5920131668,
 239.61664966700002,
 0.0,
 0.0,
 604.355107166,
 611.4195701674,
 741.2804391669999,
 57.2638435,
 500.9127926667,
 59.7725306667,
 364.480768,
 951.118714666,
 0.0,
 108.909706333,
 578.9502861663,
 68.0673978333,
 0.0,
 722.84210483367,
 22.14904683337,
 86.7824926667,
 160.4262519999,
 96.80278150000001,
 357.275143834,
 311.1889536663,
 127.15142850000001,
 0.0,
 975.587918167,
 0.0,
 413.5420181666,
 726.26075933267,
 0.0,
 1024.0636758326,
 77.9742268333,
 437.22883383330003,
 81.51043433337,
 696.5725646662999,
 433.22729549969995,
 858.37418699973,
 39.4918656667,
 363.94914149996,
 847.38115366667,
 45.9874008334,
 1065.2951291673999,
 184.162204667,
 1001.813550333,
 0.0,
 46.3023048333,
 90.90472849993,
 119.916663667,
 20.247478,
 1096.72738949933,
 79.9306696666,
 36.434234,
 514.86060716603,
 141.19407999967,
 438.50690233336,
 27.37808133337,
 547.552952834,
 0.0,
 943.8555468324001,
 116.03298466660002,
 89.6344988334,
 749.194206334,
 633.4301786670001,
 503.05470083299997,
 53.1803671667,
 131.94636750003,
 207.27739616670002,
 224.91582050030001,
 884.7240451653,
 68.2496686666,
 174.4431463334,
 42.453043,
 285.75573750030003,
 164.161086,
 46.6148,
 779.5860966676,
 4.45095966667,
 316.43186650009994,
 0.0,
 599.325108667,
 29.5289625001,
 716.3825241659999,
 18.786721,
 411.84511316623,
 188.8958254999,
 551.1900968329701,
 101.401498833,
 829.9734088337,
 32.447970500029996,
 640.0351108333,
 0.0,
 586.7405209996,
 591.1435670003,
 414.253240333,
 1217.1688571673,
 448.741092333,
 385.2513571667001,
 367.3854126667,
 229.2620115,
 32.8227305,
 504.04492916670006,
 2.8138905,
 388.7726185,
 459.3740381662999,
 75.8750386667,
 92.3539813334,
 736.5973803337,
 307.0653258337,
 143.78600349967,
 493.53649199967003,
 4.26499566667,
 626.2345113327,
 62.84829066659999,
 265.47810483300003,
 454.17951166700004,
 1381.1028195004,
 980.5763799994,
 231.0283105,
 109.5149769999,
 406.0453698336,
 303.55134400000003,
 61.33310733329999,
 0.0,
 0.0,
 670.3438828333,
 256.4187193326,
 514.0743979996,
 315.94653349997,
 1896.7540938320003,
 594.0435458336,
 422.6295078334,
 455.19857933369997,
 609.6590520007001,
 629.7823334996999,
 0.0,
 30.6256575,
 7.1116735,
 172.5712248333,
 440.96130916723,
 20.879544833329998,
 1036.951593167,
 183.7893518334,
 1421.7436063333,
 307.7543378337,
 41.7786686667,
 305.977582833,
 769.207330667,
 32.0522478333,
 18.9512853333,
 0.0,
 932.3012898327,
 507.1024986672999,
 272.16654083369997,
 294.34356566670004,
 187.25140866697,
 0.0,
 1105.2969810004001,
 105.24544450007,
 61.7853381666,
 52.4319528333,
 326.448714,
 21.972605,
 18.4937245,
 518.1875990003,
 133.319127167,
 321.3727448333,
 28.9028346666,
 1477.0239483322998,
 173.9382718334,
 312.2213373334,
 907.111293668,
 924.2469394994,
 0.0,
 400.8135763341,
 911.11994133237,
 120.55847799993,
 28.5667518333,
 298.253430333,
 712.1588875006701,
 122.48917700033,
 2.4822425,
 762.169280667,
 0.0,
 535.00554450033,
 77.7392298333,
 9.64132116667,
 84.6351145,
 168.39389983367,
 52.2673098334,
 166.37015616696,
 488.40353200030006,
 0.0,
 0.0,
 335.5259626667,
 311.07236283327,
 1047.649452501,
 399.2498304993,
 146.89298433300002,
 24.87366349997,
 267.87404783297,
 615.9597956661,
 207.9139188337,
 1890.9937024994,
 218.3752333334,
 456.3332818333,
 547.7397464997,
 248.29428850003,
 73.7238143333,
 653.1940411656001,
 382.93037050067,
 52.9136506667,
 545.9623025,
 101.1193401667,
 108.47527400000001,
 321.2057135,
 432.987765666,
 513.8126981664001,
 1482.9020456663002,
 557.5625511664,
 204.02415449966998,
 396.82058733329995,
 230.70437450010002,
 1026.8480728333,
 0.0,
 95.1225038333,
 1047.4820013337,
 203.3427993337,
 374.365616,
 394.5387589999,
 237.7646521667,
 84.558989,
 1689.189059835,
 223.73943383300002,
 80.5941101667,
 169.3917738333,
 0.0,
 416.14186616669997,
 0.0,
 340.70627749999994,
 421.960349833,
 54.8143015,
 488.3752611667,
 847.3979861667,
 264.5287276666,
 73.5741316667,
 129.1323983333,
 700.4743598327,
 114.84451633329999,
 1346.7158483327,
 479.86306116670005,
 736.4371648339999,
 177.8367486667,
 0.0,
 0.0,
 193.848226,
 92.5547231666,
 0.0,
 138.052647,
 144.1243173333,
 0.0,
 454.273163499,
 115.15559099992998,
 32.816891,
 348.39415716703,
 171.593366833,
 16.5745846667,
 100.0702155,
 25.243540000000003,
 9.61211033333,
 18.889756499999997,
 0.0,
 159.93331549997,
 16.604203,
 0.0,
 198.6962631669,
 666.3290910003,
 88.1119545,
 56.45108966666999,
 0.0,
 0.0,
 0.0,
 1329.9598305,
 88.0103965,
 3.56199133333,
 253.23675750029997,
 139.060529,
 307.3006509996,
 0.0,
 9.4907925,
 401.81893949967,
 29.9067615,
 21.1284496667,
 0.0,
 41.7199715,
 219.926066667,
 0.0,
 313.50181033333,
 489.7736965,
 0.0,
 374.5761038331,
 706.5435295006,
 0.0,
 324.6302378336,
 52.1289673334,
 30.5951761667,
 116.628876833,
 413.3262124997,
 34.0330873333,
 0.0,
 354.6223496663,
 0.0,
 100.06368333333,
 85.29257,
 59.340783666700005,
 135.6825435,
 275.16640700005996,
 0.0,
 0.0,
 199.31994916669998,
 48.1974151667,
 4.2604045,
 0.0,
 0.0,
 277.8489021664,
 176.3818004999,
 0.0,
 23.695871500029998,
 0.0,
 417.953548167,
 1369.641421833,
 179.5204783334,
 146.9410850001,
 0.0,
 0.0,
 397.8826263333,
 122.87407133333,
 0.0,
 22.7346656667,
 84.1050015,
 49.937148999970006,
 106.2993215,
 1138.3177014993998,
 1764.5367983344001,
 0.0,
 2.30081433333,
 0.0,
 260.47024649996,
 27.3957285,
 345.17664533360005,
 129.762569,
 51.016355999999995,
 0.0,
 2.38093233333,
 21.5715365,
 0.0,
 29.38455616663,
 13.587055,
 0.0,
 924.060058833,
 817.60166266567,
 32.6861011667,
 58.5606146667,
 214.54059633330002,
 5.92106983333,
 64.29995600000001,
 92.6896001666,
 0.0,
 0.0,
 260.94864483347,
 2.54122166667,
 53.1295885,
 0.0,
 0.0,
 13.442560666670001,
 129.3303274997,
 30.2541315,
 49.7470893333,
 26.5230981667,
 15.5930261667,
 0.0,
 235.39055499926997,
 1403.366643835,
 62.78241916663,
 3.3880415,
 0.0,
 0.0,
 22.0889656667,
 0.0,
 26.5587726667,
 108.9832133333,
 0.0,
 63.3749175,
 0.0,
 72.9583085,
 65.7383995,
 21.086721,
 663.5424139989,
 156.1449683333,
 0.0,
 209.96127933370002,
 125.44656916667,
 80.6559995,
 0.0,
 0.0,
 5.03956,
 160.1049253333,
 69.45209899999999,
 0.0,
 0.0,
 2.99934966667,
 131.70276883329998,
 94.3237553333,
 107.3523146666,
 120.657056167,
 11.9624635,
 240.5959745003,
 6.80688283333,
 0.0,
 666.393701501,
 8.08317416667,
 449.6269801663,
 24.9669023333,
 96.1137128333,
 42.35008283337,
 3.7103945,
 65.0527071667,
 3.35443916667,
 517.8334496674,
 0.0,
 68.4192841666,
 46.494977,
 182.85550433323,
 61.420162,
 2.1790245,
 106.08401216677001,
 39.0104288333,
 180.025886167,
 16.2005246667,
 8.1809285,
 0.0,
 0.0,
 118.71332966671,
 4.3800225,
 619.9953998326,
 38.87817050003,
 75.87298200000001,
 0.0,
 18.8601366667,
 3.50885666667,
 218.55650866673005,
 11.741084,
 13.899305166700001,
 959.9534376661,
 0.0,
 0.0,
 12.9824898333,
 45.5670335,
 0.0,
 37.853095,
 84.5200338333,
 117.195806333,
 81.4415533333,
 0.0,
 71.5736406667,
 366.5285674997,
 0.0,
 1768.5227493319999,
 366.3194163334,
 0.0,
 29.7377383333,
 1309.1846301673,
 14.3826051667,
 0.0,
 35.81870033337,
 0.0,
 90.6038805,
 152.213267167,
 5.51051366667,
 0.0,
 51.1061375,
 179.4080511666,
 0.0,
 53.190095,
 0.0,
 464.4721495011001,
 30.0975526667,
 269.29544283309997,
 739.8981633335999,
 108.8893720001,
 0.0,
 198.06075949963002,
 73.6289658334,
 52.90383883333,
 0.0,
 37.2096841667,
 0.0,
 0.0,
 89.38367816659999,
 20.21580533333,
 12.6563396667,
 0.0,
 53.4711175,
 137.6759001667,
 693.148515833,
 0.0,
 316.78872283329997,
 129.85920366667,
 0.0,
 299.9208106657,
 0.0,
 105.57724800007,
 28.805244,
 876.6454899994,
 150.810125167,
 113.43918199967,
 565.6616593333,
 0.0,
 0.0,
 2.70408483333,
 87.8123571667,
 56.4237046666,
 870.43417899963,
 0.0,
 55.7923973333,
 76.1418825,
 2.7094835,
 754.5790381659999,
 43.0449731666,
 0.0,
 42.3039228333,
 63.1747861666,
 242.2558805004,
 51.7192425,
 200.75333083330003,
 292.8858635,
 168.1376205,
 6.5907805,
 4.71476416667,
 696.57720983267,
 395.022838667,
 48.67926333336,
 291.7782771666,
 0.0,
 76.7225691667,
 26.4703245,
 114.066953,
 247.9447956666,
 430.7856678337,
 0.0,
 0.0,
 12.822523,
 1360.7287001670002,
 266.32487266671006,
 100.837620167,
 118.30495933329999,
 61.0835323333,
 0.0,
 0.0,
 0.0,
 621.5755701662999,
 172.77872349963,
 0.0,
 0.0,
 62.9114363333,
 53.5962256666,
 79.19556549999999,
 3.50918183333,
 9.62371516667,
 10.0058803333,
 11.2880193333,
 0.0,
 187.32349033330001,
 30.8061303333,
 94.2427361666,
 0.0,
 0.0,
 383.99752900006996,
 2.01734133333,
 0.0,
 0.0,
 0.0,
 11.3308886667,
 4.79064933333,
 438.5049581666,
 62.8929255,
 49.8759065,
 0.0,
 134.5242838333,
 32.4256981667,
 8.971003166660001,
 5.45628333333,
 78.787234,
 233.20550333356,
 143.91027249997,
 113.791118833,
 0.0,
 12.18271116667,
 9.771473833329999]

In [147]:
import numpy as np

# Summarize the data about minutes spent in the classroom
total_minutes = np.array(list(total_minutes_by_account.values()))

mean = np.mean(total_minutes)
std = np.std(total_minutes)
minimum = np.min(total_minutes)
maximum = np.max(total_minutes)

print('Mean:', mean)
print('Standard deviation:', std)
print('Minimum:', minimum)
print('Maximum:', maximum)

Mean: 305.4147189083705
Standard deviation: 405.91261032004155
Minimum: 0.0
Maximum: 3564.7332644989997

In [148]:
student_with_max_minutes = None
max_minutes = 0

for student, total_minutes in total_minutes_by_account.items():
    if total_minutes > max_minutes:
        max_minutes = total_minutes
        student_with_max_minutes = student


for engagement in paid_engagement_in_first_week:
    if engagement_record['account_key'] == student_with_max_minutes:
        print(engagement_record)

## Debugging Data Analysis Code

In [149]:
#####################################
#                 8                 #
#####################################

## Go through a similar process as before to see if there is a problem.
## Locate at least one surprising piece of data, output it, and take a look at it.

from collections import defaultdict

def group_data(data, key_name):
    grouped_data = defaultdict(list)
    for data_point in data:
        key = data_point[key_name]
        grouped_data[key].append(data_point)
    return grouped_data

engagement_by_account = group_data(paid_engagement_in_first_week, 'account_key')

def sum_grouped_items(grouped_data, field_name):
    summed_data = {}
    for key, data_points in grouped_data.items():
        total = 0
        for data_point in data_points:
            total += data_point[field_name]
        summed_data[key] = total
    return summed_data

total_minutes_by_account = sum_grouped_items(engagement_by_account, 'total_minutes_visited')

In [150]:
import numpy as np

def describe_data(data):
    print('Mean:', np.mean(data))
    print('Standard deviation:', np.std(data))
    print('Minimum:', np.min(data))
    print('Maximum:', np.max(data))

describe_data(list(total_minutes_by_account.values()))

Mean: 305.4147189083705
Standard deviation: 405.91261032004155
Minimum: 0.0
Maximum: 3564.7332644989997

## Lessons Completed in First Week

In [151]:
####################################
## the mean, standard deviation, minimum, and maximum for
## the number of lessons completed by each student during the first week. Try creating
## one or more functions to re-use the code above.

lessons_completed_by_account = sum_grouped_items(engagement_by_account, 'lessons_completed')
describe_data(list(lessons_completed_by_account.values()))

Mean: 1.6321608040201006
Standard deviation: 3.0014018256251003
Minimum: 0
Maximum: 36

## Number of Visits in First Week

In [152]:
days_visited_by_account = sum_grouped_items(engagement_by_account, 'has_visited')
describe_data(list(days_visited_by_account.values()))

Mean: 2.912562814070352
Standard deviation: 2.22037005490701
Minimum: 0
Maximum: 7

## Splitting out Passing Students

In [154]:
paid_submissions[0]

{'creation_date': datetime.datetime(2015, 1, 14, 0, 0),
 'completion_date': datetime.datetime(2015, 1, 16, 0, 0),
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

In [155]:
paid_engagement_in_first_week[0]

{'utc_date': datetime.datetime(2015, 1, 9, 0, 0),
 'num_courses_visited': 1,
 'total_minutes_visited': 11.6793745,
 'lessons_completed': 0,
 'projects_completed': 0,
 'account_key': '0',
 'has_visited': 1}

In [153]:
######################################
#                 11                 #
######################################

## Two lists of engagement data for paid students in the first week.
## The first list should contain data for students who eventually pass the
## subway project, and the second list should contain data for students
## who do not.

subway_project_lesson_keys = ['746169184', '3176718735']
pass_subway_project = set()

for submission in paid_submissions:
    project = submission['lesson_key']
    rating = submission['assigned_rating']    

    if ((project in subway_project_lesson_keys) and (rating == 'PASSED' or rating == 'DISTINCTION')):
        pass_subway_project.add(submission['account_key'])

print("Passed Subway Project:", len(pass_subway_project))

passing_engagement = []
non_passing_engagement = []

for engagement_record in paid_engagement_in_first_week:
    if engagement_record['account_key'] in pass_subway_project:
        passing_engagement.append(engagement_record)
    else:
        non_passing_engagement.append(engagement_record)

print("Number of Passing Engagements: ", len(passing_engagement))
print("Number of Non-passing Engagements: ", len(non_passing_engagement))

Passed Subway Project 647
Number of Passing Engagements:  4528
Number of Non-passing Engagements:  2392

## Comparing the Two Student Groups

In [ ]:
######################################
#                 12                 #
######################################

## Compute some metrics you're interested in and see how they differ for
## students who pass the subway project vs. students who don't. A good
## starting point would be the metrics we looked at earlier (minutes spent
## in the classroom, lessons completed, and days visited).

## Making Histograms

In [ ]:
######################################
#                 13                 #
######################################

## Make histograms of the three metrics we looked at earlier for both
## students who passed the subway project and students who didn't. You
## might also want to make histograms of any other metrics you examined.

## Improving Plots and Sharing Findings

In [ ]:
######################################
#                 14                 #
######################################

## Make a more polished version of at least one of your visualizations
## from earlier. Try importing the seaborn library to make the visualization
## look better, adding axis labels and a title, and changing one or more
## arguments to the hist() function.